.trust_us {
    padding-top: 100px;
    padding-bottom: 100px;

    h4 {
        color: $black;
        margin-bottom: 46px;
    }
    
    b {
        font-family: $montserrat;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
    }

    .qualities {
        padding-bottom: 60px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border-bottom: 3px solid rgba(2, 123, 253, 0.25);
    
        .namber {
            margin-left: 5px;
            min-width: 230px;

            p {
                font-family: $montserrat;   
                font-size: 18px;
                line-height: 27px;
                max-width: 227px;
                margin-top: -40px;
            }

            span {
                font-family: 'Paytone One';
                font-style: normal;
                font-weight: normal;
                font-size: 144px;
                line-height: 147px;
                color: rgba(2, 123, 253, 0.15);
            }
        }
    }

    .enefits {
        padding-top: 60px;
        display: flex;
        justify-content: space-between;
        padding-right: 70px;
        gap: 40px;

        b {
           max-width: 518px;
        }
    }
    
    @media (max-width: 992px) {
        padding-top: 85px;
        padding-bottom: 85px;

        h4 {
            margin-bottom: 20px;
        }

        .qualities {
            padding-bottom: 50px;

            .namber {
                span {
                    font-size: 130px;
                    line-height: 100px;
                }

                p {
                    font-family: $montserrat;   
                    font-size: 16px;
                    line-height: 25px;
                    margin-top: -45px;                   
                }
            }
        }

        .enefits {
            padding-right: 0;
        }

        b {
            font-size: 16px;
            line-height: 25px;
        }
    }

    @media (max-width: 768px) {
        padding-top: 70px;
        padding-bottom: 70px;

        h4 {
            margin-bottom: 0;
        }
        
        .qualities {
            padding-bottom: 30px;

            .namber {
                span {
                    font-size: 128px;
                    line-height: 86px;
                }

                p {
                    font-size: 15px;
                    line-height: 24px;
                    margin-top: -50px;                    
                }
            }
        }    
        
        b {
            font-size: 15px;
            line-height: 24px;
        }        

        .enefits {
            padding-top: 40px;
        }
    }

    @media (max-width: 576px) {
        padding-top: 40px;
        padding-bottom: 40px;

        h4 {
            margin-bottom: 15px;
        }

        .qualities {
            justify-content: center;
            padding-bottom: 10px;

            .namber {
                p {
                    font-size: 14px;
                    line-height: 23px;                    
                }
            }
        }
            
        b {
            font-size: 14px;
            line-height: 23px;
        }
        

        .enefits {
            padding-top: 25px;
            flex-wrap: wrap;
        }
    }

    @media (max-width: 352px) {
        padding-top: 20px;
        padding-bottom: 20px;
        
        .qualities {
            padding-bottom: 0;

            .namber {
                p {
                    font-size: 13px;
                    line-height: 22px;                    
                }
            }
        }

        b {
            font-size: 13px;
            line-height: 22px;
        }
    

        .enefits {
            padding-top: 10px;
        }
    }
}